.gradient-border {
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        linear-gradient(to right, #70db96 0%, #759beb 50%, #f8ab5e 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px var(--background-color) inset;
    color: var(--color) !important;
}
