.form-container {
    max-width: 450px;
}

.login-container {
    min-height: 450px;
    @media screen and (min-width: 601px) {
        margin-top: 10%;
        border: 1px solid var(--border-color);
        border-radius: 8px;
    }
}

.container {
    max-width: 1280px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
