// Margins
.margin-0 {
    margin: 0;
}

.margin-1 {
    margin: 0.5rem;
}

.margin-2 {
    margin: 1rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 0.5rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.mb-2 {
    margin-bottom: 1rem;
}

.mx-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.mx-1 {
    margin-left: 0.5rem;
    margin-right: 0.5 rem;
}

.mx-2 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.my-1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5 rem;
}

.my-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: 0.5rem;
}

.ml-2 {
    margin-left: 1rem;
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: 0.5rem;
}

.mr-2 {
    margin-right: 1rem;
}
