@import "button";
@import "container";
@import "margins";
@import "padding";

:root {
  --mdc-theme-primary: #4285f4;
  --mdc-theme-secondary: #4285f4;
  --link-color: #4f90f7;
  --mdc-theme-on-primary: rgba(255, 255, 255, 1);
  --background-color: #202124;
  --color: #e8eaed;
  --text-muted: rgba(255, 255, 255, 0.54);
  --hr-color: rgba(255, 255, 255, 0.12);
  --border-color: rgba(255, 255, 255, 0.12);
  --text-field-border-color: rgba(255, 255, 255, 0.38);
  --text-field-hover-color: rgba(255, 255, 255, 0.87);
  --text-field-floating-label: rgba(255, 255, 255, 0.6);
  --default-rating-color: #fbbc05;
}

html {
  --mdc-typography-font-family: "Ubuntu", sans-serif;
}

.mdc-top-app-bar {
  top: 0;
  left: 0;
  color: var(--mdc-theme-primary);
  background-color: var(--background-color);
}

.mdc-top-app-bar a {
  color: var(--color);
  text-decoration: none;
}

.mdc-button--outlined:not(:disabled) {
  border-color: var(--border-color);
}

.hero {
  @media (max-width: 599px) {
    font-size: 45px;
    line-height: 55px;
  }

  font-size: 55px;
  line-height: 65px;
  font-weight: 500;
}

.thick-line {
  border-bottom: 10px solid var(--border-color);
}

body {
  background-color: var(--background-color);
  color: var(--color);
  transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
  margin: 0;
  overscroll-behavior-y: none;
}

header {
  border-bottom: 1px solid var(--border-color);
}

.border {
  border: 2px solid var(--border-color);
}

hr {
  border: 0;
  border-bottom: 1px solid var(--hr-color);
}

.pointer {
  cursor: pointer;
}

.text-muted {
  color: var(--text-muted);
}

.round-corners {
  border-radius: 8px;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.underline {
  width: 100px;
  border-radius: 5px 5px 0 0;
  height: 2px;
  background: currentColor;
  margin-top: 12px;
  margin-bottom: 12px;
  background-image: linear-gradient(to right,
      #70db96 0%,
      #759beb 50%,
      #f8ab5e 100%);
}

.x-center {
  margin-left: auto;
  margin-right: auto;
}

.opacity-0 {
  opacity: 0;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}

.opacity-1 {
  opacity: 1;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  -o-transition: opacity 200ms;
  transition: opacity 200ms;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.bold {
  font-weight: 500;
}

.hidden {
  display: none;
}

.hidden-phone {
  @media (max-width: 599px) {
    display: none;
  }
}

.hidden-tablet {
  @media (min-width: 600px) and (max-width: 839px) {
    display: none;
  }
}

.hidden-desktop {
  @media (min-width: 840px) {
    display: none;
  }
}