{{ define "main" }}
<main class="mdc-top-app-bar--fixed-adjust">
    <div class="mdc-layout-grid container">
        <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                <p>We are always looking for great engineers. If you have proven hands on experience with Go, Rust,
                    Python or Kubernetes, please send links of your open source contributions to <a
                        href="mailto:careers@ownage.co.nz">careers@ownage.co.nz</a>.</p>
                <p>Ownage uses a gender neutral and ethnicity neutral recruitment process.</p>
            </div>
        </div>
    </div>
</main>
{{ end }}

{{ define "script" }}
{{ end }}