<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <meta name="description" content="{{.Title}}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    {{ $title := printf "%s | %s" .Title site.Title }}
    <title>
        {{ $title }}
    </title>
    {{ $style := resources.Get "scss/app.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="/material-components-web.min.css?v={{ $.Site.Params.mdcVersion }}">
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body class="mdc-typography mdc-typography--body1">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section">
                <a class="x-center" href="/">
                    <span class="mdc-top-app-bar__title pl-0">OWNAGE</span>
                </a>
            </section>
        </div>
    </header>

    <main class="mdc-top-app-bar--fixed-adjust">
        <div class="mdc-layout-grid container">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 align-center">
                    <p>
                        Sorry, the page you are looking for does not exist.
                    </p>
                </div>
            </div>
        </div>
    </main>

</body>

</html>