<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <meta name="description"
        content="Engineering led, data driven tech company. We design, build and operate highly containerized, multi-tier, Kubernetes native solutions.">
    <title>Ownage</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="manifest" href="manifest.json">

    <meta name="theme-color" content="#202124" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Ownage">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    {{ $style := resources.Get "scss/app.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="preload" href="material-components-web.min.css?v={{ $.Site.Params.mdcVersion }}" as="style">
    <link rel="preload" href="{{ $style.Permalink }}" as="style">
    <link rel="preload" href="material-components-web.min.js?v={{ $.Site.Params.mdcVersion }}" as="script">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap">
    <link rel="stylesheet" href="material-components-web.min.css?v={{ $.Site.Params.mdcVersion }}">
    <link rel="stylesheet" href="{{ $style.Permalink }}">
</head>

<body class="mdc-typography mdc-typography--body1">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
        <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section">
                <a class="x-center" href="/">
                    <span class="mdc-top-app-bar__title pl-0">OWNAGE</span>
                </a>
            </section>
        </div>
    </header>
    <main class="mdc-top-app-bar--fixed-adjust">
        <div class="mdc-layout-grid container">
            <div class="mdc-layout-grid__inner">
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone align-center hidden-tablet hidden-desktop pad-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        width="129px" height="124px" viewBox="-0.5 -0.5 129 124" style="background-color: transparent;">
                        <defs />
                        <g>
                            <path id="container-border-phone"
                                d="M 63.54 0.07 C 62.42 0.14 61.3 0.42 60.32 0.91 L 16.31 21.9 C 14 23.02 12.31 25.12 11.75 27.58 L 0.88 74.81 C 0.38 76.98 0.81 79.3 2 81.19 C 2.21 81.41 2.35 81.62 2.49 81.9 L 32.95 119.72 C 34.56 121.69 37.02 122.88 39.54 122.88 L 88.39 122.88 C 90.91 122.88 93.37 121.69 94.98 119.72 L 125.44 81.83 C 126.98 79.86 127.62 77.26 127.05 74.81 L 116.18 27.58 C 115.62 25.12 113.93 23.02 111.62 21.9 L 67.61 0.91 C 66.35 0.28 64.95 0 63.54 0.07 Z"
                                fill="#ffffff" stroke="none" pointer-events="all" />
                            <path
                                d="M 63.57 3.75 C 62.52 3.82 61.46 4.08 60.54 4.54 L 19.18 24.27 C 17 25.32 15.42 27.3 14.89 29.61 L 4.66 74.01 C 4.2 76.05 4.6 78.23 5.72 80.01 C 5.92 80.21 6.05 80.41 6.18 80.67 L 34.81 116.23 C 36.33 118.07 38.64 119.19 41.01 119.19 L 86.92 119.19 C 89.3 119.19 91.61 118.07 93.12 116.23 L 121.75 80.6 C 123.2 78.76 123.8 76.32 123.27 74.01 L 113.05 29.61 C 112.52 27.3 110.94 25.32 108.76 24.27 L 67.4 4.54 C 66.21 3.95 64.89 3.69 63.57 3.75 Z"
                                fill="#121212" stroke="none" pointer-events="all" />
                            <path
                                d="M 101.22 39.49 L 101.22 79.08 L 66.57 98.3 L 66.37 49.87 Z M 26.78 39.49 L 26.78 79.08 L 61.43 98.3 L 61.63 49.87 Z M 26.78 35.37 L 64 24.58 L 101.22 35.37 L 64 46.17 Z"
                                fill="#ffffff" stroke="none" pointer-events="all" />
                        </g>
                    </svg>
                </div>
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone pad-2">
                    <p class="mdc-typography--headline1 hero mt-2 mb-0">
                        Build
                    </p>
                    <p class="mdc-typography--headline1 hero my-0">
                        <span id="feature-text"></span>
                    </p>
                    <p class="mdc-typography--headline1 hero mt-0 mb-2">
                        Containers
                    </p>
                </div>
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--align-middle mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone align-center hidden-phone pad-2">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        width="129px" height="124px" viewBox="-0.5 -0.5 129 124" style="background-color: transparent;">
                        <defs />
                        <g>
                            <path id="container-border"
                                d="M 63.54 0.07 C 62.42 0.14 61.3 0.42 60.32 0.91 L 16.31 21.9 C 14 23.02 12.31 25.12 11.75 27.58 L 0.88 74.81 C 0.38 76.98 0.81 79.3 2 81.19 C 2.21 81.41 2.35 81.62 2.49 81.9 L 32.95 119.72 C 34.56 121.69 37.02 122.88 39.54 122.88 L 88.39 122.88 C 90.91 122.88 93.37 121.69 94.98 119.72 L 125.44 81.83 C 126.98 79.86 127.62 77.26 127.05 74.81 L 116.18 27.58 C 115.62 25.12 113.93 23.02 111.62 21.9 L 67.61 0.91 C 66.35 0.28 64.95 0 63.54 0.07 Z"
                                fill="#ffffff" stroke="none" pointer-events="all" />
                            <path
                                d="M 63.57 3.75 C 62.52 3.82 61.46 4.08 60.54 4.54 L 19.18 24.27 C 17 25.32 15.42 27.3 14.89 29.61 L 4.66 74.01 C 4.2 76.05 4.6 78.23 5.72 80.01 C 5.92 80.21 6.05 80.41 6.18 80.67 L 34.81 116.23 C 36.33 118.07 38.64 119.19 41.01 119.19 L 86.92 119.19 C 89.3 119.19 91.61 118.07 93.12 116.23 L 121.75 80.6 C 123.2 78.76 123.8 76.32 123.27 74.01 L 113.05 29.61 C 112.52 27.3 110.94 25.32 108.76 24.27 L 67.4 4.54 C 66.21 3.95 64.89 3.69 63.57 3.75 Z"
                                fill="#121212" stroke="none" pointer-events="all" />
                            <path
                                d="M 101.22 39.49 L 101.22 79.08 L 66.57 98.3 L 66.37 49.87 Z M 26.78 39.49 L 26.78 79.08 L 61.43 98.3 L 61.63 49.87 Z M 26.78 35.37 L 64 24.58 L 101.22 35.37 L 64 46.17 Z"
                                fill="#ffffff" stroke="none" pointer-events="all" />
                        </g>
                    </svg>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 align-center">
                    <a href="mailto:hello@ownage.co.nz">
                        <button class="mdc-button mdc-button--outlined gradient-border">
                            <div class="mdc-button__ripple"></div>
                            CONTACT OWNAGE
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <hr class="thick-line">
        <div class="mdc-layout-grid container">
            <div class="mdc-layout-grid__inner">
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone pad-2 border round-corners">
                    <h5 class="mdc-typography--headline5 my-0 align-center">
                        Kubernetes Native Solutions
                    </h5>
                    <div class="underline x-center"></div>
                    <p>
                        Ownage specializes in the design, build and operation of multi-tier and highly containerized
                        architectures. This meant that we were naturally attracted to the best container orchestrator in
                        the market - Kubernetes.
                    </p>
                    <p>
                        Kubernetes is an open-source, well maintained and cloud neutral container orchestrator that can
                        operate at planet scale. When engineered correctly, Kubernetes can automate tasks that are
                        usually performed manually by your ops teams.
                    </p>
                    <p>
                        Ownage can help you with the setup, configuration and operation of Kubernetes.
                    </p>
                    <div class="align-center">
                        <a href="https://kubernetes.io/" target="_blank" rel="noopener noreferrer">
                            <button class="mdc-button mdc-button--outlined gradient-border">
                                <div class="mdc-button__ripple"></div>
                                <span class="mdc-button__label">Learn more about Kubernetes</span>
                            </button>
                        </a>
                    </div>
                </div>
                <div
                    class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone pad-2 border round-corners">
                    <h5 class="mdc-typography--headline5 my-0 align-center">
                        Open-Source
                    </h5>
                    <div class="underline x-center"></div>
                    <p>
                        At Ownage, we tend to prefer the use of stable and secure open-source software. Kubernetes,
                        Golang, gRPC, PostgreSQL, CockroachDB, etc. are a few popular open-source software that we use
                        internally.
                    </p>
                    <p>
                        Since Ownage has learnt so much from the open-source community, we contribute to open-source
                        where possible and open-source some of our work as well.
                    </p>
                    <p>
                        Where feasible, Ownage will help with design and build of a container at no cost as long as the
                        code is open-sourced and an appropriate licence is applied.
                    </p>
                    <div class="align-center">
                        <a href="http://gitlab.com/ownageoss" target="_blank" rel="noopener noreferrer">
                            <button class="mdc-button mdc-button--outlined gradient-border">
                                <div class="mdc-button__ripple"></div>
                                <span class="mdc-button__label">Open-source software by Ownage</span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="thick-line">
        <div class="mdc-layout-grid container">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 pad-2">
                    <h4 class="mdc-typography--headline4 align-center mt-0">
                        About Ownage
                    </h4>
                    <p>
                        Ownage is an Engineering Led, Data Driven, technology company that focuses on delivering the
                        best possible end-user experience. Security, Simplicity and Speed are core principles
                        we follow.
                    </p>
                    <p>
                        We specialize in the design of multi-tier and highly containerized architectures. <a
                            href="https://github.com/GoogleCloudPlatform/microservices-demo#architecture"
                            target="_blank" rel="noopener noreferrer"> This repo on
                            Github</a> demos a 10-tier microservices application which should provide a good indication
                        of what a multi-tier and highly containerized application architecture looks like.
                    </p>
                    <p>
                        Ownage has designed, built, maintained and enhanced 500+ production containers over the last few
                        years. We apply our core principles of Security, Simplicity and Speed to every container we
                        engineer.
                    </p>
                    <p>
                        Ownage has also helped it's customers with the hiring and training of software engineers. We
                        conduct interviews, screen candidates and train them on the job. This reduces our customers'
                        reliance on us and the knowledge is shared.
                    </p>
                    <p>
                        Ownage provides full source code (with appropriate licenses) for any work we do for our
                        customers.
                    </p>
                    <p>
                        Where feasible, Ownage will help with design and build of a container at no cost as long as the
                        code is open-sourced and an appropriate licence is applied.
                    </p>
                </div>
            </div>
        </div>
        <hr class="thick-line">
        <div class="mdc-layout-grid container">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 pad-2">
                    <h4 class="mdc-typography--headline4 align-center mt-0">
                        Things we don't do
                    </h4>
                    <p>
                        All great open-source projects clearly indicate what they are not good at or meant to do. Here
                        is the list of things we don't do.
                    </p>
                    <ul>
                        <li>Smooth talk.</li>
                        <li>Tactical statements to please the audience in a meeting.</li>
                        <li>Use management pleasing buzz words.</li>
                        <li>Decision makers often don't know the in's and out's of tech. We do not take advantage of
                            this.</li>
                        <li>Say YES to everything.</li>
                        <li>Make things look big and complex or organize work for financial gain.</li>
                    </ul>
                    <p>
                        To ensure we are a good fit, we generally engage with the business owners and build an
                        engineering prototype at no cost to solve a simple problem. This usually gives both parties a
                        good indication of compatibility.
                    </p>
                </div>
            </div>
        </div>
        <hr class="thick-line">
        <div class="mdc-layout-grid container">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 x-center">
                    <a href="/careers/">Careers</a>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 x-center">
                    <span class="mdc-typography--body2">
                        &copy; <span id="current-year"></span> &nbsp; Ownage
                    </span>
                </div>
            </div>
        </div>
    </main>

    <script src="material-components-web.min.js?v={{ $.Site.Params.mdcVersion }}"></script>
    <script>
        mdc.autoInit();
        document.querySelectorAll('.mdc-button').forEach(
            function (ele) {
                mdc.ripple.MDCRipple.attachTo(ele);
            });
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('service-worker.js')
                    .then((reg) => {
                        //console.log('Service worker registered.', reg);
                        console.log('Service worker registered.');
                    });
            });
        }

        document.getElementById("current-year").innerHTML = new Date().getFullYear();

        async function changeFeatureText() {
            var featureText = document.getElementById("feature-text");
            featureText.className = 'opacity-0';
            if (featureText.textContent != '') {
                await new Promise(r => setTimeout(r, 200));
            }
            var containerBorder = document.getElementById("container-border");
            var containerBorderPhone = document.getElementById("container-border-phone");
            if (featureText.textContent == '' || featureText.textContent == 'Auto Healing') {
                featureText.textContent = 'Secure';
                featureText.style.color = '#70db96';
                featureText.className = 'opacity-1';
                containerBorder.setAttribute('fill', '#70db96');
                containerBorderPhone.setAttribute('fill', '#70db96');
            }
            else if (featureText.textContent == 'Secure') {
                featureText.textContent = 'Fault Tolerant';
                featureText.style.color = '#759beb';
                featureText.className = 'opacity-1';
                containerBorder.setAttribute('fill', '#759beb');
                containerBorderPhone.setAttribute('fill', '#759beb');
            }
            else if (featureText.textContent == 'Fault Tolerant') {
                featureText.textContent = 'Auto Healing';
                featureText.style.color = '#f8ab5e';
                featureText.className = 'opacity-1';
                containerBorder.setAttribute('fill', '#f8ab5e');
                containerBorderPhone.setAttribute('fill', '#f8ab5e');
            }
            setTimeout(changeFeatureText, 5000);
        }

        changeFeatureText();
    </script>
    <script src="install.js"></script>
    <script src="quicklink.umd.js?v=2.1.0"></script>
    <script>
        quicklink.listen();
    </script>
</body>

</html>